#scoreTable td, #scoreTable th {
    padding: 5px;
    border: 1px solid #333;
}

#scoreTable th {
    background-color: #2F2F2F;
    border-bottom: 1px solid #3F3F3F;
    padding: 5px;
}

.margin30 {
    margin-bottom: 30px !important;
}

.titlecolor {
    color:rgb(255, 101, 101);
}